body {
  width: 500px;
  margin: 0 auto;
}

.box-thing {
  /*font-family: verdana;*/
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  padding: 15px
}

#search-bar {
  box-shadow: 1px 1px 3px #888;
  border-radius: 25px 25px 25px 25px;
}

#search-bar:hover {
  box-shadow: 1px 1px 3px #555;
}

input {
  width:477px;
  border: none;
  outline: none;
  margin: 10px;
}

#he-left {
  padding: 15px;
  background-color: #fafafa;;
  border-left: 3px solid red;
  box-shadow: 1px 1px 3px rgb(95, 95, 95);
}
